{% extends 'adminbase.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="card text-center">
      <div class="card-header bg-success text-white">
        <h1 class="mb-0">Author Login</h1>
      </div>

      <div class="card-body">
        <form method="post" class="text-left">
          {% csrf_token %}
          <div class="form-group col-3 mx-auto"> 
            <input type="text" name="username" class="form-control form-control-lg " placeholder="Username">
          </div>
          <br>

          <div class="form-group col-3 mx-auto"> 
            <input type="password" name="password" class="form-control form-control-lg " placeholder="Password">
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-block">Login</button>
        </form>
      </div>
      <div class="mt-3">
        <p>Don't have an account? <a href="{% url 'author_register' %}">Register here</a>.</p>

        <p>If you are not an instructor..!! <a href="{% url 'login' %}">Login as a user</a>.</p>
      </div>
      <div id="quote-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <blockquote class="blockquote">
              <p class="mb-0">"Invest in yourself. Your career is the engine of your wealth."</p>
              <br>
              <footer class="blockquote-footer">Paul Clitheroe</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
