{% extends 'adminbase.html' %}

{% block title %}Add and List Lessons{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Add and List Lessons for {{ course.title }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group col-6 mx-auto">
                <label for="id_content">Lesson Content</label>
                <textarea class="form-control" id="id_content" name="content" placeholder="Enter lesson content"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Save Lessons</button>
        </form>
        <h2 class="mt-4">Existing Lessons</h2>
        {% if course.lesson_set.all %}
            <ul class="list-group">
                {% for lesson in course.lesson_set.all %}
                    <li class="list-group-item">
                        {{ lesson.content }}
                        <a href="{% url 'course:delete_lesson' course.id lesson.id %}" class="btn btn-danger float-right">Delete</a>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No lessons available for this course.</p>
        {% endif %}
    </div>
    <br>
{% endblock %}
