{% extends 'adminbase.html' %}

{% block title %}Add Videos{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card text-center">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Add Videos to {{ course.title }}</h1>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group col-6 mx-auto">
                        {{ form.as_p }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block">Save Videos</button>
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
