{% extends 'adminbase.html' %}

{% block title %}Add New Course{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card text-center">
        <div class="card-header bg-primary text-white">
            <h1 class="mb-0">Add New Course</h1>
        </div>

        <div class="card-body">
            <form method="post" enctype="multipart/form-data" class="text-left">
                {% csrf_token %}
                
                <!-- Assuming course_form and details_form have similar fields as your first template -->
                <div class="form-group col-6 mx-auto">
                    {{ course_form.as_p }}
                </div>
                <br>

                <div class="form-group col-6 mx-auto">
                    {{ details_form.as_p }}
                </div>
                <br>

                <button type="submit" class="btn btn-primary btn-block">Save Course</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
