{% extends 'adminbase.html' %}

{% block title %}Your Courses{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Your Courses</h1>
        <a href="{% url 'course:add_course' %}" class="btn btn-success mb-3 float-right">Add New Course</a>
        <div class="row">
            {% for course in courses %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        {% if course.thumbnail %}
                        <img src="{{ course.thumbnail.url }}" class="card-img-top" alt="{{ course.title }}">
                    {% else %}
                        <p>No thumbnail available</p>
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">Rating: {{ course.rating }}</p>
                            <p class="card-text">Total Modules: {{ course.total_modules }}</p>
                            <a href="{% url 'course:edit_course' course.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'course:add_video' course.id %}" class="btn btn-primary">Add Videos</a>
                            <a href="{% url 'course:add_lesson' course.id %}" class="btn btn-primary">Lessons</a>
                        <br></br>
    
                            <a href="{% url 'course:list_videos_edit' course.id %}" class="btn btn-primary">Edit Videos</a>
                            <form method="post" action="{% url 'course:delete_course' course.id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
