{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">{{ course.title }} Videos</h2>

    {% for category in video_categories %}
    <h3>{{ category.name }}</h3>
    {% with videos=videos_by_category|get:category %}
      {% if videos %}
        {% for video in videos %}
          <p>{{ video.title }}</p>
          <p>{{ video.video_url }}</p>
        {% endfor %}
      {% else %}
        <p>No videos available for this category.</p>
      {% endif %}
    {% endwith %}
  {% endfor %}
          
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
